@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;
}
.title{
  margin-top: 50px;
}

.light{
  background-color: whitesmoke;
    color: black;
    border: 2px solid ;
}
.dark{
  background-color: #282c34;
  color:white;
  .card{
    background-color: #282c34;
    border: 2px solid #0cc80c;
    
  }
}

main{
  min-height:100vh;
  height: auto;
  text-align: center;
  .cards-div{
    margin-top: 100px;
  }
}

/* Switch button */
.switch-mode{
margin-right: 100px;
margin-top: 25px;

}

@media screen {
  .switch-mode{
  margin-top: 10px;
  margin-right: 20px;
  }
}
